@import 'variables';

@mixin cross-browser-transition-set {
    transition:         $transition-03;
    -webkit-transition: $transition-03;
    -moz-transition:    $transition-03;
    -o-transition:      $transition-03;
}

@mixin cross-browser-transform-set-small {
    transform:          scale(1.02);
    -webkit-transform:  scale(1.02);
    -moz-transform: 	scale(1.02);
    -ms-transform: 		scale(1.02);
    -o-transform:       scale(1.02);
}

@mixin cross-browser-transform-set-large {
    transform:          scale(1.05);
    -webkit-transform:  scale(1.05);
    -moz-transform: 	scale(1.05);
    -ms-transform: 		scale(1.05);
    -o-transform:       scale(1.05);
}