$flex-display: flex;
$primary-color: #000;
$secondary-color: #ddd;
$background-color: #1c092a;
$accent-color-1: #360e52;
$accent-color-2: #541780;
$font-color: #f3e8ff;
$border-radius: 5px;
$transition-03: .3s all ease-in;