@import 'partials/globals', 'partials/responsive', 'partials/typography', 'partials/variables';

.app {
    flex-direction: column;
    align-items: center;
    .greeting {
        text-align: center;
    }
    .create-to-do > #date-and-time {
        display: $flex-display;
        flex-direction: row;
        #currentDate,
        #currentTime,
        #separator {
            padding-right: 5px;
        }
    }
    .to-do-list {
        text-align: center;
        }
        .list > .to-do-item {
            display: $flex-display;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            input {
                width: 115% !important;
            }
        }
        #spacer {
            height: 15px;
        }        
    }
    #horizontal-line {
        height: 3px;
        background-color: $secondary-color;
        border: none;
        margin: 10px 0;
        }
    #new-to-do-form {
    text-align: center;
    [id="content"] {
        width: 100%;
    }
    > .options {
    display: $flex-display;
    justify-content: space-between;
    }
    [id*="option"] {
        border-radius: $border-radius;
        padding: 10px 40px;
        cursor: pointer;
        transition: $transition-03;
        &:hover {
            transition: $transition-03;
            background-color: rgba(33, 5, 52, 0.508);
            box-shadow: 2px 2px 5px 2px rgb(61, 20, 93);
        }
    }
    #personal-category-option {
        background-color: $accent-color-1;
    }
    #business-category-option {
        background-color: $accent-color-2;
    }
    input[type=submit] {
        width: 100%;
        cursor: pointer;
        height: 25px;
    }
}