@import 'partials/globals',
        'partials/mixins',
        'partials/responsive',
        'partials/typography',
        'partials/variables';

.app {
    flex-direction: column;
    align-items: center;
    border: $main-border;
    border-radius: $border-radius;
    padding: 30px 40px;
    box-shadow: 0 20px 40px #5814a129;
    width: 600px;
    button {
        border-radius: $border-radius;
        padding: 5px 10px;
        cursor: pointer;
        .edit {
            background-color: $font-color;
        }
    }    
    input {
        caret-color: $font-color;
        outline: none;
        &:active {
            border: 0;
        }
    }    
    .greeting {
        text-align: center;
        input {
            flex: 1 1 0%;
            min-width: 0;
            width: 50%;
            padding-left: 2px;
            font-size: 18px;
        }
    }
    .create-to-do > #date-and-time {
        display: $flex-display;
        flex-direction: row;
        justify-content: center;
        #currentDate,
        #currentTime,
        #separator {
            padding-right: 5px;
        }
    }
    .to-do-list {
        text-align: center;
        }
        .list > .to-do-item {
            display: $flex-display;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            .actions {
                display: inline-flex;
                @include cross-browser-transition-set;
                button {
                    @include cross-browser-transition-set;
                    &:hover {
                    transform:          scale(1.05);
                    -webkit-transform:  scale(1.05);
                    -moz-transform: 	scale(1.05);
                    -ms-transform: 		scale(1.05);
                    -o-transform:       scale(1.05);
                    @include cross-browser-transition-set;
                    }
                }
            }
            input {
                width: 80%;
                pointer-events: none;
            }
        }
        .to-do-content {
            width: 100%;
        }
        #spacer {
            height: 15px;
        }        
    }
    input[type=text] {
        background-color: transparent !important;
        border: none;
        border-bottom: 2px solid $secondary-color;
        color: $font-color;
        height: 40px;
    }
    #horizontal-line {
        height: 3px;
        background-color: $secondary-color;
        border: none;
        margin: 10px 0;
    }
    #new-to-do-form {
    text-align: center;
    #question {
        font-size: 21px;
    }
    [id="content"] {
        width: 100%;
        font-size: 16px;
    }
    > .options {
    display: $flex-display;
    justify-content: space-between;
    }
    [id*="option"] {
        border-radius: $border-radius;
        padding: 15px 55px;
        cursor: pointer;
        @include cross-browser-transition-set;
        &:hover {
            @include cross-browser-transition-set;
            @include cross-browser-transform-set-small
        }
    }
    #personal-category-option {
        background-color: $accent-color-1;
    }
    #business-category-option {
        background-color: $accent-color-2;
    }
    #myday-category-option {
        background-color: $accent-color-3;;
    }
    input[type=submit] {
        width: 100%;
        cursor: pointer;
        padding: 10px 25px;
        border-radius: $border-radius;
        background-color: $secondary-color;
        @include cross-browser-transition-set;
        &:hover {
            transform:          scale(1.05);
            -webkit-transform:  scale(1.05);
            -moz-transform: 	scale(1.05);
            -ms-transform: 		scale(1.05);
            -o-transform:       scale(1.05);
            @include cross-browser-transition-set;
        }
    }
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
}

.bubble {
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: $main-border;
    height: 20px;
    width: 20px;
    box-shadow: 0 20px 40px #5814a129;
    cursor: pointer;
    &::after {
        background-color: $accent-color-2;
        box-shadow: 0 20px 40px #5814a129;
        @include cross-browser-transition-set;
    }
}

input:checked ~ .bubble::after {
    width: 10px;
    height: 10px;
    opacity: 1;
}